<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width" />
    <title>@ViewBag.Tital</title>
</head>
<body>    
    <div>
        @RenderBody()
    </div>
    <footer>@RenderSection("footer", false)</footer>
</body>
</html>